header {
  background-repeat: no-repeat;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

#navegacion li a {
  color: rgba(0, 0, 0, 0.15);
}

/* despues del header */

#central {
  padding-top: 50px;
  margin-top: 50px;
}

.carouselcontenedorslider img {
  position: relative;
  width: 100%;
}

.carouselanteriorslider,
.carouselsiguienteslider {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: 40%;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: black;
  opacity: 20%;
}

.carouselanteriorslider:hover,
.carouselsiguienteslider:hover {
  opacity: 100%;
}

.carouselanteriorslider {
  left: -30px;
}

.carouselsiguienteslider {
  right: -30px;
}

#desk-and-movil #video1 img {
  border-radius: 30px;
}

#tar12 a {
  color: black;
  text-decoration: none;
}

#tar12 h3 {
  text-align: center;
}

/*slider clientes*/

.carouselcontenedor {
  position: relative;
  margin-bottom: 50px;
}

.carouselanterior,
.carouselsiguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: 40%;
  cursor: pointer;
  line-height: 30px;
  text-align: center;
  background: none;
  color: black;
  opacity: 20%;
}

.carouselanterior:hover,
.carouselsiguiente:hover {
  opacity: 100%;
}

.carouselanterior {
  left: -30px;
}

.carouselsiguiente {
  right: -30px;
}

#section1 {
  padding-bottom: 50px;
  background: #f8f8ff;
}

#cont1 {
  margin-top: 50px;
}

#cap,
#cap2 {
  color: #636363;
}

/*slider de las herramientas*/

#sli {
  margin-top: 30px;
  margin-bottom: 100px;
}

.slider {
  vertical-align: baseline;

  display: flex;
  height: 100px;

  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.slider img {
  object-fit: cover;
  scroll-snap-align: center;
  margin-right: 48px;

  transition: all 300ms;
}

.slider img:hover {
  transform: scale(1.15);
}

/* escritorio y movil */

#section3 {
  background: #f8f8ff;
  padding: 10px;
}

#sec1 img {
  border-radius: 30px;
}

#section3 .col-md-3 p {
  color: #636363;
}

#ti {
  text-shadow: 0em 0em 0.1em black;
}

.col-md-3 img {
  text-align: center;
}

#sec1 p {
  color: #636363;
}

/* mas tarjetas */

#titlepro {
  text-align: center;
}

.containerpro {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: auto;
}

.imagenespro {
  border-radius: 5px;
  width: 300px;
  height: 200px;
  margin-bottom: 30px;
  object-fit: cover;
  filter: brightness(80%);
  animation: pulsar 1.5s infinite alternate;
}

@keyframes pulsar {
  to {
    transform: scale(1);
  }

  from {
    transform: scale(1.05);
  }
}

.imagenespro:hover {
  filter: brightness(100%);
}

#section4 {
  margin-top: 50px;
  margin-bottom: 50px;
}

#text1 {
  color: #636363;
  line-height: 3.5;
}

.col-lg-7 img {
  box-shadow: 0 0 10px #444444;
}

#section4 #sec1 {
  margin-bottom: 30px;
}

#section5 {
  padding-top: 50px;
  background: #f8f8ff;
  padding-bottom: 100px;
}

/* footer */

footer {
  background: black;
  color: white;
  padding-bottom: 50px;
}

footer .row {
  padding-top: 50px;
}

#footerg #foo {
  border: 1px solid red;
}

#foo iframe {
  width: 100%;
}
